#previous {
    border: 1px solid white;
    border-radius: 50%;
    background: aliceblue;
    display: flex;
    height: 48px;
    position: absolute;
    top: 50%;
    left: -18%;
}

#next {
    border: 1px solid white;
    border-radius: 50%;
    background: aliceblue;
    display: flex;
    height: 48px;
    position: absolute;
    top: 50%;
    right: -18%;
}

#next:hover,#previous:hover{
    cursor: pointer;
    filter: brightness(1.4);
}

#modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.788);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 20;
}

#modal-content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    height: 75%;
    border-radius: 10px;
    background-color: rgba(21, 126, 158, 0.993);
    box-shadow: 0px 0px 16px rgb(0, 0, 0);
    cursor:default;
    animation: showModalAnimation 250ms;
    h3,h2{
        text-align: center;
    }
    
}

#modal-content img{
    filter: drop-shadow(-11px 0px 3px rgba(0, 0, 0, 0.353));
}

.hidden{
    display: none !important;
}

.show{
    display: flex !important;
}

.closeModal{
    animation: hideModalAnimation 250ms;
}

@keyframes showModalAnimation {
    0%{     
        opacity: 0.0;
        scale: 0.1;
    }
    100%{   
        opacity: 1;
        scale: 1;
    }
}
@keyframes hideModalAnimation {
    0%{     
        opacity: 1.0;
        scale: 1.0;
    }
    100%{   
        opacity: 0;
        scale: 0;
    }
}

.animation-modal{
    animation: showModalAnimation 500ms ;
}

#attributes-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#attributes-pokemon h3{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#attributes-pokemon img{
    width: 32px;
    margin-left: 16px;
}
#type > h3 > img{
    filter: none !important;
}

#modalPokemonImg{
    height: 25%;
    width: 100%;
    object-fit: scale-down;
    position: absolute;
    top: -15%;
    left: 0%;

}

.progress-bar{
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 20;
    position: relative;
    width: 200px;
    height: 15px;
    background-color: rgb(27, 27, 27);
    border-radius: 50px;
    color: white;
    margin-bottom: 8px;
}
.progress-bar-inner-hp{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801) , rgb(255, 0, 0));
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

.progress-bar-inner-atk{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background: linear-gradient(to right, rgb(0, 0, 0) , yellow);
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

.progress-bar-inner-def{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(0, 195, 255));
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

.progress-bar-inner-special-atk{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(187, 255, 0));
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}


.progress-bar-inner-special-def{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(85, 207, 255));
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

.progress-bar-inner-speed{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(77, 255, 23));
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}


#rotateBtnContainer{
    position: absolute;
    top: 12%;
    left: 37%;
    display: flex;
    width: 100%;
    justify-content: center;
    img{
        height: 24px;
        filter: opacity(0.5);
    }
    img:hover{
        cursor: pointer;
        filter: opacity(1);
    }
}

.rotateModalToBack {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 150ms ease-in-out;
}

.rotateModalToFront {
    transform: rotateY(-180deg) !important;
    backface-visibility: hidden;
    transition: 150ms ease-in-out;
}
#abilities{
    position: absolute;
    top: 35%;
}

.ability {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#idPokemon{
    position: absolute;
    top: 15%;
}
#modalPokemonName{
    position: absolute;
    top: 20%;
}
#progressBar{
    position: absolute;
    top: 50%;
}
#attributes-pokemon{
    position: absolute;
    top: 29%;
}

#evlolution-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 61%;
    
    img{
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 24px;
    }
    div{
        display: flex;
        align-items: center;
        margin-top: 8px;
        width: 200px;
    }
}

