*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
  }
header{
    display: flex;
    align-items: center;
    height: 85px;
    background-color: rgb(145, 255, 246);
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.301);
}
.logo img{
    height: 75px;
    margin-left: 16px;
    opacity: 0.9;
    transition: rotate 2s;
}

.pokemon-card{
    height: 250px;
    width: 250px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.pokemon-card img{
    height: 150px;
    width: 200px;
    object-fit: contain;
}
#content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 20;
}
#modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
}
#modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 50%;
    border-radius: 10px;
    background-color: rgba(21, 126, 158, 0.993);
    box-shadow: 0px 0px 16px rgb(0, 0, 0);
    cursor:default;
}
#modal-content img{
    height: 30%;
}
.hidden{
    display: none !important;
}