*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Chakra Petch", sans-serif;
    background: #f1f1f1;
}

h3{
    text-align: justify;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: rgb(2,0,37);
background: linear-gradient(321deg, rgba(2,0,37,1) 0%, rgba(9,9,121,1) 38%, rgba(0,126,255,1) 100%);
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.301);
}

.header-content{
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
}

.nav-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px 0 16px;
    height: 40px;
    padding: 0 8px;
    border-radius: 4px;
    width: 210px;
    color: #ffffffcc;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.212);

    }


select {
    text-align: center;
        background: #05055300;
        color: white;

    option{
        background: #050553;
        outline: none;
        border: none;
        color: white;
        border-radius: 4px;
    }
}


#type-selection{
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
}
#type-selection:focus{
    border: none;
    outline: none;
}

.logo{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    img{
        height: 80px;
        margin-left: 16px;
    }
}



#search{
    font-family: "Chakra Petch", sans-serif;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: 2px solid transparent;
    outline: none;
    border-radius: 4px;
    width: 210px;
}

#search:focus{
   
 border: 1px solid #017BFC;
}

h1{
    text-align: center;
    margin: 32px;
    font-weight: 900;
    font-size: 40px;
}

h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-variant: small-caps;
}


.pokemon-card{
    height: 320px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; 
}

.pokemon-card:hover > img{
    filter: brightness(1.1);
}

.pokemon-card:hover > img{
    transition: 250ms;
    scale: 1.07;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.11);
}

.pokemon-card > img{
    height: 150px;
    width: 200px;
    object-fit: contain;
    filter: drop-shadow(-11px 0px 3px rgba(0, 0, 0, 0.253));
    transition: scale 250ms ease-in-out;
}

#content{
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
}



.grass,.bug{
    background: linear-gradient(#63f794, #ffffff) !important;
}
.electric{
    background: linear-gradient(#d3d34f, #ffffff) !important;
}
.water{
    background: linear-gradient(#4d4dee, #ffffff) !important;
}
.fire{
    background: linear-gradient(#ff3939, #ffffff)  !important;
}
.poison{
    background: linear-gradient(#813481, #ffffff)  !important;
    
}
.fairy{
    background: linear-gradient(#d68dd6, #ffffff) !important;
}
.normal{
    background: linear-gradient(#d3d3d3, #ffffff) !important;
}
.ground{
    background: linear-gradient(#8d4747, #ffffff) !important;
}
.fighting{
    background: linear-gradient(#f7bd40, #ffffff) !important;

}
.psychic{
    background: linear-gradient(#7f026c, #ffffff) !important;
}
.rock{
    background: linear-gradient(#feb285, #ffffff) !important;

}
.ghost{
    background: linear-gradient(#4d1c72, #ffffff) !important;
}
.ice{
    background: linear-gradient(#03c7fd, #ffffff) !important;

}
.dragon{
    background: linear-gradient(#e7e7e7, #ffffff) !important;

}

h4{
    text-align: center;
    z-index: 500;
}

.card-header{
    display: flex;
    width: 92%;
    flex-direction: column;
   }

.card-header > div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
}

.card-header img{
    height: 32px;
    width: 32px;
}

#loadMoreButton{
    height: 48px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #57d882;
    transition: background-color 250ms ease-in-out;
    margin: 32px 0px;
}

#loadMoreButton:hover {
    cursor: pointer;
    background-color: #63f794;
    transition: 250ms;
    
}

#loadingScreen {
    position: fixed;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.916);
    z-index: 1000;
}

#loadingScreen img{
    position: fixed;
    object-fit: scale-down;
    width: 10%;
    top: 55%;
    animation: loading 5s  infinite alternate  ;
}

@keyframes loading {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 1080deg;
    }
}

@keyframes rotateCard {
    0%{    transform: rotate3d(0, 1, 0, 0deg);
    }
    100%{    transform: rotate3d(0, 1, 0, 360deg);
    }
}

#scrollToTop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%; 
    max-width: 1440px;  
    img{
        padding: 1px;
        border-radius: 50px;
        background-color: rgba(155, 158, 155, 0.911);
        height: 48px;
        margin: 3% 8%;
    }
    img:hover{
        cursor: pointer;
        background-color: rgba(155, 158, 155, 0.774);
    }
}


@media (max-width: 560px) {
    #next,#previous{
        top: 105%;
    }   
    #next{
        right: 0;
        height: 56px;
    } 
    #previous{
        left: 0;
        height: 56px;
    }  
}

@media (max-width: 800px) {
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
    }
    .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        justify-content: center;
        img{
            margin-left: 0px;
        }
    }
    
    #search{
        margin-bottom: 16px;
    }
}

@media (max-height: 780px) {
    
    #modalPokemonImg {
        height: 12%;
        width: 100%;
        object-fit: scale-down;
        position: absolute;
        top: 0%;
        left: -30%;
    }
    #modal-content {
        height: 86%;
        top: -5%;
    }
    #next, #previous {
        top: 102%;
        height: 56px;
    }
    #rotateBtnContainer{
    top: 10%;
    left: 30%;
    }
}