*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Chakra Petch", sans-serif;
  }


header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 85px;
    background-color: rgb(145, 255, 246);
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.301);
}
.header-content{
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
}
#search{
    font-family: "Chakra Petch", sans-serif;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
}
#search:focus{
   
 border: 2px solid greenyellow;
}

#previous {
    border: 1px solid white;
    border-radius: 50%;
    background: aliceblue;
    display: flex;
    height: 48px;
    position: absolute;
    top: 50%;
    left: -18%;
}


#next {
    border: 1px solid white;
    border-radius: 50%;
    background: aliceblue;
    display: flex;
    height: 48px;
    position: absolute;
    top: 50%;
    right: -18%;
}
#next:hover,#previous:hover{
    cursor: pointer;
    filter: brightness(1.4);
}

h1{
    text-align: center;
    margin: 32px;
}
.logo img{
    height: 75px;
    margin-left: 16px;
    opacity: 0.9;
    transition:  rotate 2s;
}

.pokemon-card{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.pokemon-card:hover{
    filter: brightness(1.2);
}
.pokemon-card:hover img{
    transition: 250ms;
    scale: 1.07;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.11);
}

.pokemon-card img{
    height: 150px;
    width: 200px;
    object-fit: contain;
    filter: drop-shadow(-11px 0px 3px rgba(0, 0, 0, 0.253));
    transition: scale 250ms ease-in-out;
}

#content{
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
}

#modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.788);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 20;
}

#modal-content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 50%;
    border-radius: 10px;
    background-color: rgba(21, 126, 158, 0.993);
    box-shadow: 0px 0px 16px rgb(0, 0, 0);
    cursor:default;
}

#modal-content img{
    filter: drop-shadow(-11px 0px 3px rgba(0, 0, 0, 0.353));
}

.hidden{
    display: none !important;
}

.grass,.bug{
    background: linear-gradient(#63f794, #ffffff) !important;
}
.electric{
    background: linear-gradient(#d3d34f, #ffffff) !important;
}
.water{
    background: linear-gradient(#4d4dee, #ffffff) !important;
}
.fire{
    background: linear-gradient(#ff3939, #ffffff)  !important;
}
.poison{
    background: linear-gradient(#813481, #ffffff)  !important;
    
}
.fairy{
    background: linear-gradient(#d68dd6, #ffffff) !important;
}
.normal{
    background: linear-gradient(#d3d3d3, #ffffff) !important;
}
.ground{
    background: linear-gradient(#8d4747, #ffffff) !important;
}

#modalPokemonImg{
    height: 50%;
    width: 100%;
    object-fit: scale-down;
    position: absolute;
    top: -40%;
    left: 0%;
}
@media (max-width: 450px) {
    #next,#previous{
        top: 110%;
    }   
    #next{
        right: 0;
        height: 56px;
    } 
    #previous{
        left: 0;
        height: 56px;
    }
}