*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Chakra Petch", sans-serif;
}

h3{
    text-align: justify;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 85px;
    background-color: rgb(80, 138, 224);
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.301);
}

.header-content{
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
}

#search{
    font-family: "Chakra Petch", sans-serif;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
}

#search:focus{
   
 border: 2px solid greenyellow;
}

#previous {
    border: 1px solid white;
    border-radius: 50%;
    background: aliceblue;
    display: flex;
    height: 48px;
    position: absolute;
    top: 50%;
    left: -18%;
}

#next {
    border: 1px solid white;
    border-radius: 50%;
    background: aliceblue;
    display: flex;
    height: 48px;
    position: absolute;
    top: 50%;
    right: -18%;
}

#next:hover,#previous:hover{
    cursor: pointer;
    filter: brightness(1.4);
}

h1{
    text-align: center;
    margin: 32px;
    font-weight: 900;
    font-size: 40px;
}

h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-variant: small-caps;
}

.logo img{
    background: rgba(255, 255, 255, 0);
    height: 75px;
    border-radius: 50%;
    margin-left: 16px;
    opacity: 0.9;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.274);
    transition:  rotate 2s;
}

.pokemon-card{
    height: 320px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; 
}

.pokemon-card:hover > img{
    filter: brightness(1.1);
}

.pokemon-card:hover > img{
    transition: 250ms;
    scale: 1.07;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.11);
}

.pokemon-card > img{
    height: 150px;
    width: 200px;
    object-fit: contain;
    filter: drop-shadow(-11px 0px 3px rgba(0, 0, 0, 0.253));
    transition: scale 250ms ease-in-out;
}

#content{
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
}

#modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.788);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 20;
}

#modal-content{
    display: flex;
    position: relative;
    top: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 70%;
    border-radius: 10px;
    background-color: rgba(21, 126, 158, 0.993);
    box-shadow: 0px 0px 16px rgb(0, 0, 0);
    cursor:default;
}

#modal-content img{
    filter: drop-shadow(-11px 0px 3px rgba(0, 0, 0, 0.353));
}

.hidden{
    display: none !important;
}

.show{
    display: flex !important;
}

#attributes-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#attributes-pokemon h3{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#attributes-pokemon img{
    width: 32px;
    margin-left: 16px;
}
#type > h3 > img{
    filter: none !important;
}

.grass,.bug{
    background: linear-gradient(#63f794, #ffffff) !important;
}
.electric{
    background: linear-gradient(#d3d34f, #ffffff) !important;
}
.water{
    background: linear-gradient(#4d4dee, #ffffff) !important;
}
.fire{
    background: linear-gradient(#ff3939, #ffffff)  !important;
}
.poison{
    background: linear-gradient(#813481, #ffffff)  !important;
    
}
.fairy{
    background: linear-gradient(#d68dd6, #ffffff) !important;
}
.normal{
    background: linear-gradient(#d3d3d3, #ffffff) !important;
}
.ground{
    background: linear-gradient(#8d4747, #ffffff) !important;
}
.fighting{
    background: linear-gradient(#f7bd40, #ffffff) !important;

}
.psychic{
    background: linear-gradient(#7f026c, #ffffff) !important;
}
.rock{
    background: linear-gradient(#feb285, #ffffff) !important;

}
.ghost{
    background: linear-gradient(#4d1c72, #ffffff) !important;
}
.ice{
    background: linear-gradient(#03c7fd, #ffffff) !important;

}
.dragon{
    background: linear-gradient(#e7e7e7, #ffffff) !important;

}

h4{
    text-align: center;
    z-index: 500;
}

.card-header{
    display: flex;
    width: 92%;
    flex-direction: column;
   }

.card-header > div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
}

.card-header img{
    height: 32px;
    width: 32px;
}

#modalPokemonImg{
    height: 40%;
    width: 100%;
    object-fit: scale-down;
    position: absolute;
    top: -35%;
    left: 0%;
}

.progress-bar{
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 20;
    position: relative;
    width: 200px;
    height: 15px;
    background-color: rgb(56, 56, 56);
    border-radius: 50px;
    color: white;
    margin-bottom: 8px;
}
.progress-bar-inner-hp{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background-color: rgb(248, 33, 33);
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

.progress-bar-inner-atk{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background-color: rgb(248, 33, 33);
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

.progress-bar-inner-def{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background-color: rgb(19, 208, 241);
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

.progress-bar-inner-special-atk{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background-color: rgb(194, 192, 63);
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}


.progress-bar-inner-special-def{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background-color: rgb(19, 208, 241);
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

.progress-bar-inner-speed{
    z-index: 30;
    position: absolute;
    height: 5px;
    width: 0px;
    background-color: rgb(32, 185, 32);
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease;
}

#loadMoreButton{
    height: 48px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 8px;
    transition: background-color 250ms ease-in-out;
    margin: 32px 0px;
}

#loadMoreButton:hover {
    cursor: pointer;
    background-color: #63f794;
    transition: 250ms;
    
}

#loadingScreen {
    position: fixed;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.916);
    z-index: 1000;
}
#loadingScreen img{
    position: fixed;
    object-fit: scale-down;
    width: 10%;
    top: 55%;
    animation: loading 5s  infinite alternate  ;
}

@keyframes loading {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 1080deg;
    }
}

@keyframes rotateCard {
    0%{    transform: rotate3d(0, 1, 0, 0deg);
    }
    100%{    transform: rotate3d(0, 1, 0, 360deg);
    }
}

#scrollToTop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    color: whitesmoke;
    background-color: darkolivegreen;
}
#scrollToTop:hover{
    cursor: pointer;
    background-color: green;
}

@media (max-width: 450px) {
    #next,#previous{
        top: 110%;
    }   
    #next{
        right: 0;
        height: 56px;
    } 
    #previous{
        left: 0;
        height: 56px;
    }
}